include README.rst LICENSE
include setup_helpers.py setup_helpers_osx.py setup_helpers_windows.py
graft src/bezier
global-exclude *.so *.pyd
global-exclude *.o *.obj
global-exclude *.a *.def *.exp
global-exclude *.pyx
global-exclude *.pyc __pycache__
