# NumPy is required for building `bezier` from source.
numpy >= 1.20.1
# SymPy and SciPy are optional dependencies for pure-Python implementations.
scipy >= 1.6.0
sympy >= 1.7.1
# Test requirements.
pytest >= 6.2.2
