# NumPy is required for building `bezier` from source.
numpy >= 1.15.4
# SciPy is an optional dependency for pure-Python implementations.
scipy >= 1.1.0
# Test requirements.
mock >= 2.0.0; python_version == "2.7"
pytest >= 4.0.1
