# NumPy is required for building `bezier` from source.
numpy >= 1.20.1
# Sphinx and related are required for building documentation.
Sphinx >= 3.5.1
sphinx-docstring-typing >= 0.0.4
sphinx_rtd_theme >= 0.5.1
