# NumPy is required for building `bezier` from source.
numpy >= 1.21.4
# Sphinx and related are required for building documentation.
Sphinx >= 4.4.0
sphinx-docstring-typing >= 0.0.4
sphinx_rtd_theme >= 1.0.0
sphinx-copybutton >= 0.5.0